<%= form_with(model: @kho, local: true,url: khos_path) do |form| %>
  <% if @kho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kho.errors.count, "error") %> prohibited this kho from being saved:</h2>

      <ul>
        <% @kho.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :MaKho %>
    <%= form.text_field :MaKho %>
  </div>

  <div class="field">
    <%= form.label :MaQL %>
    <%= form.text_field :MaQL %>
  </div>

  <div class="field">
    <%= form.label :TenKho %>
    <%= form.text_field :TenKho %>
  </div>

  <div class="field">
    <%= form.label :SLTonKho %>
    <%= form.number_field :SLTonKho %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
