<%= form_with(model: @hang_hoa, local: true, class: 'mt-4') do |form| %>
  <% if @hang_hoa.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@hang_hoa.errors.count, "error") %> prohibited this hang_hoa from being saved:</h2>

      <ul>
        <% @hang_hoa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :MaHH, class: 'form-label' %>
    <%= form.text_field :MaHH, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :TenHH, class: 'form-label' %>
    <%= form.text_field :TenHH, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :SoLuong, class: 'form-label' %>
    <%= form.number_field :SoLuong, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :MaKho, class: 'form-label' %>
    <%= form.text_field :MaKho, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
