<h1>Danh sách Hàng Hóa</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Mã HH</th>
      <th scope="col">Tên HH</th>
      <th scope="col">Số Lượng</th>
      <th scope="col">Mã Kho</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hang_hoas.each do |hang_hoa| %>
      <tr>
        <td><%= hang_hoa.MaHH %></td>
        <td><%= hang_hoa.TenHH %></td>
        <td><%= hang_hoa.SoLuong %></td>
        <td><%= hang_hoa.MaKho %></td>
        <td><%= link_to 'Xem', hang_hoa, class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Sửa', edit_hang_hoa_path(hang_hoa), class: 'btn btn-warning btn-sm' %></td>
        <td>
          <%= button_to 'Xóa', hang_hoa, method: :delete, data: { confirm: 'Bạn chắc chắn muốn xóa?' },
            class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
