<div class="container mt-4">
  <p id="notice" class="alert alert-info"><%= notice %></p>

  <p>
    <strong>Mã HH:</strong>
    <%= @hang_hoa.MaHH %>
  </p>

  <p>
    <strong>Tên HH:</strong>
    <%= @hang_hoa.TenHH %>
  </p>

  <p>
    <strong>Số Lượng:</strong>
    <%= @hang_hoa.SoLuong %>
  </p>

  <p>
    <strong>Mã Kho:</strong>
    <%= @hang_hoa.MaKho %>
  </p>

  <div class="mt-3">
    <%= link_to 'Sửa', edit_hang_hoa_path(@hang_hoa), class: 'btn btn-warning' %> |
    <%= link_to 'Quay lại', hang_hoas_path, class: 'btn btn-secondary' %>
  </div>
</div>
