<%= link_to 'Thêm Hàng Hóa mới', new_hang_hoa_path %>
<%= link_to 'Thêm quan ly ', new_quan_ly_path %>
<%= link_to 'Thêm kho', new_kho_path %>
<div>
    <%= link_to 'Xem hàng hóa', hang_hoas_path %>
    <%= link_to 'Xem kho', khos_path %>
    <%= link_to 'Xem quản lý', quan_lys_path %>
</div>
