<%= form_with(model: @don_nhap_hang, local: true, class: 'mt-4') do |form| %>
  <% if @don_nhap_hang.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@don_nhap_hang.errors.count, "error") %> prohibited this don_nhap_hang from being saved:</h2>

      <ul>
        <% @don_nhap_hang.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :MaHD, class: 'form-label' %>
    <%= form.text_field :MaHD, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :MaQL, class: 'form-label' %>
    <%= form.text_field :MaQL, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :NgayTao, class: 'form-label' %>
    <%= form.date_field :NgayTao, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :GhiChu, class: 'form-label' %>
    <%= form.text_area :GhiChu, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :SoLuong, class: 'form-label' %>
    <%= form.number_field :SoLuong, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :DonGia, class: 'form-label' %>
    <%= form.number_field :DonGia, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :MaHH, class: 'form-label' %>
    <%= form.text_field :MaHH, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
