<%= form_with(model: @nha_cung_cap, local: true, class: 'mt-4') do |form| %>
  <% if @nha_cung_cap.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@nha_cung_cap.errors.count, "error") %> prohibited this nha_cung_cap from being saved:</h2>

      <ul>
        <% @nha_cung_cap.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :MaNCC, class: 'form-label' %>
    <%= form.text_field :MaNCC, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :TenNCC, class: 'form-label' %>
    <%= form.text_field :TenNCC, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :SDT, class: 'form-label' %>
    <%= form.text_field :SDT, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :Fax, class: 'form-label' %>
    <%= form.text_field :Fax, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :DiaChi, class: 'form-label' %>
    <%= form.text_area :DiaChi, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :MaHD, class: 'form-label' %>
    <%= form.text_field :MaHD, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
